section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: calc(100vh - 200px);
    padding: 20px;
}

h2 {
    color: #343a40;
    margin-bottom: 20px;
    font-size: 2em;
}

.social-login-buttons {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.social-logo {
    width: 24px;
    height: 24px;
    margin-right: 10px;
    background-color: transparent;
    border: none;
    display: inline-block;
}

.social-button {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px 20px;
    font-size: 1.2em;
    text-decoration: none;
    color: white;
    border-radius: 4px;
    transition: background-color 0.3s ease;
    background-color: transparent;
    border: none;
}

.google-button {
    background-color: #dfe0e1;
    color: black;
}

.google-button:hover {
    background-color: #b5b6b7;
}

.kakao-button {
    background-color: #fedc3f;
    color: black;
}

.kakao-button:hover {
    background-color: #cdb336;
}

.github-button {
    background-color: #434343;
}

.github-button:hover {
    background-color: #373738;
}

.social-button img {
    background-color: transparent;
    border: none;
}