<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Board Edit</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/css/header-style.css">
    <link rel="stylesheet" type="text/css" href="/css/board-write.css">

</head>
<body>

<header>
    <div id="nav-buttons" class="text-right p-3">
        <!-- 네비게이션 버튼이 필요하다면 여기서 동적으로 추가 -->
    </div>
</header>

<div class="container">
    <h1 class="my-4 text-center">Edit Board Post</h1>

    <!-- 게시글 수정 폼 -->
    <div class="card">
        <h3 class="mb-4">게시물 수정</h3>
        <form id="board-form">
            <div class="form-group">
                <label for="card-title">제목:</label>
                <input type="text" class="form-control" id="card-title" name="title" th:value="${board.title}" required/>
            </div>
            <div class="form-group">
                <label for="card-text">내용:</label>
                <textarea class="form-control" id="card-text" name="content" rows="10" th:text="${board.content}" required></textarea>
            </div>
            <div class="text-right">
                <button type="submit" class="btn btn-custom">저장</button>
            </div>
            <label for="board-id"></label><input hidden="hidden" id="board-id" th:name="${board.boardId}"/>

        </form>
    </div>

    <!-- 링크를 통해 목록으로 돌아가기 -->
    <div class="text-center mt-4">
        <a class="btn btn-outline-secondary" href="/board">Back to List</a>
    </div>
</div>

<script src="/scriptPage/js/checkBoardOwner.js"></script>
<script src="/scriptPage/js/userMe.js"></script>
<script src="/scriptPage/js/boardModify.js"></script>
</body>
</html>
