<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Board Detail</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/css/header-style.css">
</head>
<body>

<header>

    <div id="nav-buttons">
        <!-- 이 부분은 자바스크립트로 동적으로 업데이트됩니다. -->
    </div>
</header>
<div class="container">
    <h1 class="my-4">Board Detail</h1>
    <!-- 게시글 상세 정보 -->
    <div class="card">
        <div class="card-body">
            <h5 id="board-title" class="card-title" th:text="${board.title}">Sample Title</h5>
            <p id="board-text"  class="card-text" th:text="${board.getContent}">Sample Content</p>
            <p class="card-text"><small class="text-muted" th:text="${#temporals.format(board.createdAt, 'yyyy년 MM월 dd일 HH:mm:ss')}">2024-08-14</small></p>
            <p class="card-text"><small class="text-muted" th:text="${#temporals.format(board.modifiedAt, 'yyyy년 MM월 dd일 HH:mm:ss')}">2024-08-14</small></p>

        </div>
    </div>

    <!-- 링크를 통해 목록으로 돌아가기 -->
    <div id="board-buttons">
        <a class="btn btn-primary mt-3" href="/boards">Back to List</a>
    </div>
<hr/>
    <!-- 댓글 목록 -->
    <h2 class="my-4">Comments</h2>
    <!-- 댓글 작성 폼 -->
    <div class="mt-4">
        <h5>Add a comment</h5>
        <form id="script-form">
            <div class="form-group">
                <label for="board-id"></label><input type="text" id="board-id" name="board-id" th:value="${board.boardId}" hidden="hidden"/>
                <label for="comment-text"></label><textarea id="comment-text" class="form-control" rows="3" placeholder="Write your comment here"></textarea>
            </div>
            <button type="button" class="btn btn-primary" id="add-comment-btn" onclick="handleComment()">댓글달기</button>
        </form>
    </div>
    <div id="comment-list" class="list-group">
        <!-- 자바스크립트로 댓글을 동적으로 추가합니다. -->
    </div>
</div>

<script src="/js/checkBoardOwner.js"></script>
<script src="/js/userMe.js"></script>
<script src="/js/reply.js"></script>
<script>
    let commentTextArea;
    let addCommentButton;
    document.addEventListener('DOMContentLoaded', function() {
        commentTextArea = document.getElementById('comment-text');
        addCommentButton = document.getElementById('add-comment-btn');
    });

    function handleComment() {
        const commentTextArea = document.getElementById('comment-text');
        const content = commentTextArea.value.trim();

        if (content === '') {
            alert('댓글 내용을 입력해주세요.');
            return;
        }

        addComment();
    }
</script>
</body>
</html>
