<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ko">
<head>
    <meta charset="UTF-8">
    <title>Speech-Up</title>
    <link rel="stylesheet" type="text/css" href="/css/home-style.css">
    <link rel="stylesheet" type="text/css" href="/css/header-style.css">
    <title>AI Script Recorder & Processor</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/land-style.css">
    <link rel="icon" href="/images/speechup.png">
</head>
<body>
<header>
    <div id="nav-buttons">
        <!-- 이 부분은 자바스크립트로 동적으로 업데이트됩니다. -->
    </div>
</header>
<div class="container">
    <h1>Speech up</h1>
</div>
<section id="features" class="features">
    <div class="container">
        <div class="row text-center">
            <div class="col-md-4">
                <div id="board" class="feature-box p-4 mb-4">
                    <div class="feature-icon mb-3"><i class="fas fa-microphone"></i></div>
                    <h3>🙋‍ 커뮤니케이션</h3>
                    <p>사람들과 스피치에 대한 얘기를 나눠보세요.</p>
                </div>
            </div>
            <div class="col-md-4">
                <div id="analyze-record" class="feature-box p-4 mb-4">
                    <div class="feature-icon mb-3"><i class="fas fa-brain"></i></div>
                    <h3>🤖 스피치 분석</h3>
                    <p>대본에 대한 녹음 파일로 AI를 통해 당신의 점수를 확인하세요.</p>
                </div>
            </div>
            <!--<div class="col-md-4">
                <div class="feature-box p-4 mb-4">
                    <div class="feature-icon mb-3"><i class="fas fa-cloud-upload-alt"></i></div>
                    <h3>Cloud Storage</h3>
                    <p>점수를 저장하여 발전한 모습을 스스로 확인해 보세요.</p>
                </div>
            </div>-->
            <div class="col-md-4">
                <div id="academy-feature" class="feature-box p-4 mb-4">
                    <div class="feature-icon mb-3"><i class="fas fa-academy"></i></div>
                    <h3>🧭 내 주변 스피치 학원</h3>
                    <p>회원님 주변의 스피치 학원을 찾아드릴게요.</p>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="cta-section" style="display:block;">
    <div class="container">
        <h2>간단한 소셜 로그인으로 서비스를 이용해보세요.</h2>
        <a href="/login" class="btn btn-light btn-lg">소셜로 로그인</a>
    </div>
</section>
<section>
    <div class="container">
        <div class="testimonials">
            <h4>사용자 후기</h4>
            <div class="testimonial-item">
                <p>"이 서비스 덕분에 스피치 실력이 크게 향상되었습니다!"</p>
                <small>- 이강민</small>
            </div>
            <div class="testimonial-item">
                <p>"아주 유용한 도구입니다. 강력 추천합니다."</p>
                <small>- 이재윤</small>
            </div>
            <div class="testimonial-item">
                <p>"제 스피치 점수를 늘려가는 재미가 있어요."</p>
                <small>- 김택준</small>
            </div>
        </div>
    </div>
</section>
<footer class="footer">
    <div class="container">
        <p>&copy; 2024 AI Script Recorder & Processor. All rights reserved.</p>
    </div>
</footer>
<script src="/js/home.js"></script>
<script src="/js/userMe.js"></script>
<script src="/js/addTokenSession.js"></script>

<script>
    function isLogin() {
        const jwtToken = getItemWithExpiry("jwtToken");
        const signUpSection = document.querySelector('.cta-section');
        if(jwtToken!= null){
            signUpSection.style.display = 'none';
            return;
        }
        signUpSection.style.display = 'block';
    }
    isLogin();
</script>

</body>
</html>