<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ko">
<head>
    <meta charset="UTF-8">
    <title>Speech-Up</title>
    <link rel="stylesheet" type="text/css" href="/css/home-style.css">
    <link rel="stylesheet" type="text/css" href="/css/header-style.css">
</head>
<body>
<header>

    <script src="/scriptPage/js/userMe.js"></script>
    <script src="/scriptPage/js/addTokenSession.js"></script>
    <div id="nav-buttons">
        <!-- 이 부분은 자바스크립트로 동적으로 업데이트됩니다. -->
    </div>
</header>
<h1>SpeechUp!</h1>
<div class="container">
    <h1 class="title" th:text="${title}"></h1>
    <table class="board">
        <thead>
        <tr>
            <th>ID</th>
            <th>Title</th>
            <th>Content</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="post : ${posts}">
            <td th:text="${post.id}"></td>
            <td th:text="${post.title}"></td>
            <td th:text="${post.content}"></td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>