<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ko">
<head>
    <meta charset="UTF-8">
    <title>Speech-Up</title>
    <link rel="stylesheet" type="text/css" href="/css/home-style.css">
    <link rel="stylesheet" type="text/css" href="/css/header-style.css">
    <title>AI Script Recorder & Processor</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/land-style.css">
</head>
<script src="/scriptPage/js/userMe.js"></script>
<script src="/scriptPage/js/addTokenSession.js"></script>
<body>
<header>
    <div id="nav-buttons">
        <!-- 이 부분은 자바스크립트로 동적으로 업데이트됩니다. -->
    </div>
</header>
<div class="container">
    <h1>Speech up</h1>
</div>
<section id="features" class="features">
    <div class="container">
        <div class="row text-center">
            <div class="col-md-4">
                <div class="feature-box p-4 mb-4">
                    <div class="feature-icon mb-3"><i class="fas fa-microphone"></i></div>
                    <h3>Record Scripts</h3>
                    <p>원하는 대본을 작성해보세요.</p>
                </div>
            </div>
            <div class="col-md-4">
                <div class="feature-box p-4 mb-4">
                    <div class="feature-icon mb-3"><i class="fas fa-brain"></i></div>
                    <h3>AI Processing</h3>
                    <p>AI를 통해 당신의 점수를 확인하세요.</p>
                </div>
            </div>
            <div class="col-md-4">
                <div class="feature-box p-4 mb-4">
                    <div class="feature-icon mb-3"><i class="fas fa-cloud-upload-alt"></i></div>
                    <h3>Cloud Storage</h3>
                    <p>점수를 저장하여 발전한 모습을 스스로 확인해 보세요.</p>
                </div>
            </div>
            <div class="col-md-4">
                <div id="academy-feature" class="feature-box p-4 mb-4">
                    <div class="feature-icon mb-3"><i class="fas fa-academy"></i></div>
                    <h3>Speech Academy</h3>
                    <p>회원님 주변의 스피치 학원을 찾아드릴게요.</p>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="cta-section">
    <div class="container">
        <h2>Get Started with AI-Powered Script Recording Today!</h2>
        <a href="/login" class="btn btn-light btn-lg">Sign Up Now</a>
    </div>
</section>

<footer class="footer">
    <div class="container">
        <p>&copy; 2024 AI Script Recorder & Processor. All rights reserved.</p>
    </div>
</footer>
<script src="/js/map.js"></script>
</body>
</html>