<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ko">
<head>
    <meta charset="UTF-8">
    <title>Report</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/css/header-style.css">
    <link rel="stylesheet" type="text/css" href="/css/report-style.css">
</head>
<body>
<div class="report-container">
    <h1>분석 결과</h1>
    <div class="report-content">
        <div class="recognized-text">
            <h2>작성한 대본 : </h2>
            <p th:text="${script}"></p>
        </div>
        <div class="recognized-text">
            <h2>인식된 음성 : </h2>
            <p th:text="${recognized}"></p>
        </div>
        <div class="score">
            <h2>발음 점수 : </h2>
            <p th:text="${score}"></p>
        </div>
    </div>
    <div>
        <button class="close-button">닫기</button>
    </div>
</div>
<script>
    document.querySelector('.close-button').addEventListener('click', function() {
        window.close();
    });
</script>
</body>
</html>