<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Script Board</title>
    <link rel="stylesheet" type="text/css" href="/css/script-style.css">
    <link rel="stylesheet" type="text/css" href="/css/home-style.css">
    <link rel="stylesheet" type="text/css" href="/css/header-style.css">
</head>
<body>
<header>
    <div id="nav-buttons">
        <!-- 이 부분은 자바스크립트로 동적으로 업데이트됩니다. -->
    </div>
    <script>
        document.addEventListener('DOMContentLoaded', function() {
            const logoutButton = document.getElementById('logout-button');

            if (logoutButton) {
                logoutButton.addEventListener('click', function(event) {
                    if (!confirm('로그아웃 하시겠습니까?')) {
                        event.preventDefault(); // 확인을 누르지 않으면 로그아웃 중단
                    }
                });
            }
        });
    </script>
</header>
<h1>Script Board</h1>
<div class="container">
    <div class="scripts-list-section">
        <h2>대본 목록</h2>
        <button id="create-script-btn" class="create-script-btn">대본 작성</button>
        <table class="script-table">
            <thead>
            <tr>
                <th>제목</th>
                <th>내용</th>
                <th>생성일</th>
                <th>수정일</th>
            </tr>
            </thead>
            <tbody id="scripts-list">
            <tr>
                <!--대본 리스트-->
            </tr>
            </tbody>
        </table>
    </div>
</div>
<script src="/js/userMe.js"></script>
<script src="/js/scriptList.js"></script>
</body>
</html>
