<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ko">
<head>
    <meta charset="UTF-8">
    <title>Script</title>
    <link rel="stylesheet" type="text/css" href="/css/home-style.css">
    <link rel="stylesheet" type="text/css" href="/css/script-style.css">
    <link rel="stylesheet" type="text/css" href="/css/header-style.css">
</head>
<body>
<header>
    <nav>
        <a href="/" class="nav-button">홈</a>
        <a href="/logout" class="nav-button" id="logout-button">로그아웃</a>
        <a href="#" class="nav-button" id="analyze-tab" onclick="showSection('analyze-section')">분석하기</a>
        <script>
            document.addEventListener('DOMContentLoaded', function() {
                const logoutButton = document.getElementById('logout-button');

                if (logoutButton) {
                    logoutButton.addEventListener('click', function(event) {
                        if (!confirm('로그아웃 하시겠습니까?')) {
                            event.preventDefault(); // 확인을 누르지 않으면 로그아웃 중단
                        }
                    });
                }
            });
        </script>
    </nav>
</header>
<h1>SpeechUp!</h1>
<div class="container">
    <div id="analyze-section" class="section hidden">
        <h2>분석하기</h2>
        <!-- 분석하기 섹션 내용 -->
    </div>
    <div id="script-and-record-section" class="script-and-record-section section">
        <div class="script-section">
            <h2>대본</h2>
            <div id="script-detail">
                <ul id="analyze-recordings-list">
                    <!-- 분석하기 섹션에 녹음 목록과 분석 버튼이 여기에 동적으로 추가됩니다 -->
                </ul>
            </div>
            <div class="file-upload">
                <h2>파일 업로드</h2>
                <input type="file" id="file-input" />
                <button id="upload-btn" >업로드</button>
            </div>
            <!--<div class="recording-controls">
                <button id="record-btn" onclick="startRecording()">녹음 추가</button>
            </div>-->
            <label for="language-select">언어 선택:</label>
            <select id="language-select">
                <option value="korean">한국어</option>
                <option value="english">영어</option>
            </select>
        </div>
        <div class="recordings-section">
            <h2>녹음 목록</h2>
            <ul id="recordings-list">
                <!-- 녹음 항목이 여기에 동적으로 추가됩니다 -->
            </ul>
        </div>
    </div>
</div>
<div id="loading-bar" style="display: none;">
    <div id="loading-content">
        <p id="loading-text">분석 중입니다. 잠시만 기다려주세요...</p>
        <div id="loading-circle"></div>
    </div>

</div>
<script src="/scriptPage/js/scriptDetail.js"></script>
<script src="/scriptPage/js/record.js"></script>
<script src="/scriptPage/js/saveRecord.js"></script>
<script src="/scriptPage/js/loadLocalRecord.js"></script>
<script src="/scriptPage/js/addRecordingToList.js"></script>
<script src="/scriptPage/js/analyticRecord.js"></script>
<script>
    function showSection(sectionId) {
        const sections = document.querySelectorAll('.section');
        sections.forEach(section => {
            section.style.display = 'none';
        });
        document.getElementById(sectionId).style.display = 'block';
    }
    showSection('script-and-record-section');
</script>
</body>
</html>