<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ko">
<head>
    <meta charset="UTF-8">
    <title>대본 작성</title>
    <link rel="stylesheet" type="text/css" href="/css/script-write.css">
    <link rel="stylesheet" type="text/css" href="/css/home-style.css">
    <link rel="stylesheet" type="text/css" href="/css/header-style.css">
</head>
<body>
<header>
    <div id="nav-buttons">
        <!-- 이 부분은 자바스크립트로 동적으로 업데이트됩니다. -->
    </div>
</header>

<h1>대본 작성</h1>
<div class="container">
    <div class="script-create-section">
        <h2>새 대본 작성</h2>
        <form id="script-form">
            <label for="script-title">제목:</label>
            <input type="text" id="script-title" name="title" required/>
            <label for="script-user-id"></label>
            <input hidden="hidden" id="script-user-id" th:name="${userId}"/>
            <label for="script-content">내용:</label>
            <textarea id="script-content" name="content" rows="10" required></textarea>
            <button type="submit">저장</button>
        </form>
    </div>
</div>
<script src="/js/userMe.js"></script>
<script src="/js/scriptWrite.js"></script>

</body>
</html>
