<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ko">
<head>
    <meta charset="UTF-8">
    <title>Script</title>
    <link rel="stylesheet" type="text/css" href="/css/home-style.css">
    <link rel="stylesheet" type="text/css" href="/css/script-style.css">
    <link rel="stylesheet" type="text/css" href="/css/header-style.css">
    <link rel="icon" href="/images/speechup.png">
</head>
<body>
<header>
        <div id="nav-buttons">
            <!-- 이 부분은 자바스크립트로 동적으로 업데이트됩니다. -->
        </div>
</header>
<h1>SpeechUp!</h1>
<div class="container">
    <div id="analyze-section" class="section hidden">
        <h2>분석하기</h2>
        <!-- 분석하기 섹션 내용 -->
    </div>
    <div id="script-and-record-section" class="script-and-record-section section">
        <div class="script-section">
            <h2>대본</h2>
            <div id="script-detail">
                <ul id="analyze-recordings-list">
                    <!-- 분석하기 섹션에 녹음 목록과 분석 버튼이 여기에 동적으로 추가됩니다 -->
                </ul>
            </div>
            <div class="file-upload">
                <span class="help-icon">⚠️업로드 전에 확인해주세요!⚠️   </span>
                <h2>파일 업로드</h2>
                <input type="file" id="file-input" />
                <button id="upload-btn" >업로드</button>
            </div>
            <div id="tooltip-modal" class="tooltip-modal">
                <div class="tooltip-content">
                    <span class="close-btn">&times;</span>
                    <p>녹음 분석을 위해 wav(비압축파일)로 변환이 필요합니다.</p>
                    <p>wav 파일이 아닐 시, 아래의 순서에 맞게 진행 후 업로드해야 정상적으로 반영됩니다.</p>
                    <p>1. <a href="https://cloudconvert.com/mp3-to-wav" target="_blank">mp3 to wav</a> 링크로 접속 후,</p>
                    <p>2. 파일을 업로드 하고 아래 메뉴에서 설정을 클릭합니다.</p>
                    <img src="/images/tooltip-image1.png" alt="설명 이미지 1" />
                    <p>3. 설정탭의 Audio 에서 아래와 같이 설정합니다.</p>
                    <img src="/images/tooltip-image2.png" alt="설명 이미지 2" />
                    <p>4. 설정이 완료 되었으면 'Okay'를 누르고 'Convert'를 클릭합니다.</p>
                    <p>5. 변환이 완료되었다면, 다운로드 후 왼쪽 파일 선택에서 파일을 선택합니다.</p>
                    <p>6. 선택한 파일을 업로드 하면 하단 리스트에 회원님의 녹음 파일이 업로드 됩니다.</p>
                </div>
            </div>
            <!--<div class="recording-controls">
                <button id="record-btn" onclick="startRecording()">녹음 추가</button>
            </div>-->
            <label for="language-select">언어 선택:</label>
            <select id="language-select">
                <option value="korean">한국어</option>
                <option value="english">영어</option>
            </select>
        </div>
        <div class="recordings-section">
            <h2>녹음 목록</h2>
            <ul id="recordings-list">
                <!-- 녹음 항목이 여기에 동적으로 추가됩니다 -->
            </ul>
        </div>
    </div>
</div>
<div id="loading-bar" style="display: none;">
    <div id="loading-content">
        <p id="loading-text">분석 중입니다. 잠시만 기다려주세요...</p>
        <div id="loading-circle"></div>
    </div>

</div>
<script src="/js/userMe.js"></script>
<script src="/js/scriptDetail.js"></script>
<script src="/js/record.js"></script>
<script src="/js/saveRecord.js"></script>
<script src="/js/loadLocalRecord.js"></script>
<script src="/js/addRecordingToList.js"></script>
<script src="/js/analyticRecord.js"></script>
<script>
    const fileInput = document.getElementById('file-input');
    const uploadBtn = document.getElementById('upload-btn');

    function showSection(sectionId) {
        const sections = document.querySelectorAll('.section');
        sections.forEach(section => {
            section.style.display = 'none';
        });
        document.getElementById(sectionId).style.display = 'block';
    }
    showSection('script-and-record-section');

    fileInput.addEventListener('change', function() {
        const file = fileInput.files[0];
        if (file) {
            const fileType = file.type;
            if (fileType === 'audio/wav') {
                uploadBtn.disabled = false;
            } else {
                uploadBtn.disabled = true;
                alert('.wav 파일만 업로드 가능합니다.');
            }
        } else {
            uploadBtn.disabled = true;
        }
    });
</script>
</body>
</html>