/* 기본 스타일 */
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

header {
    background-color: #333;
    color: #fff;
    padding: 10px 0;
    text-align: center;
}

nav a {
    color: #fff;
    text-decoration: none;
    padding: 10px 15px;
}

h1 {
    color: #333;
    text-align: center;
    margin: 20px 0;
}

.container {
    width: 80%;
    margin: 0 auto;
}

.script-create-section {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

h2 {
    margin-top: 0;
    color: #333;
}

form {
    display: flex;
    flex-direction: column;
}

label {
    font-weight: bold;
    margin-top: 15px;
}

input[type="text"], textarea {
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

button {
    margin-top: 20px;
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    background-color: #007bff;
    color: #fff;
    cursor: pointer;
    font-size: 16px;
}
button:disabled {
    background-color: #d3d3d3; /* 비활성화 시 배경색 */
    color: #a9a9a9;            /* 비활성화 시 텍스트 색상 */
    cursor: not-allowed;       /* 비활성화 시 커서 스타일 */
}
button:hover {
    background-color: #0056b3;
}

/* 미디어 쿼리 */
@media (max-width: 768px) {
    .container {
        width: 95%;
    }

    header {
        padding: 10px;
    }

    nav a {
        padding: 8px 12px;
        font-size: 14px;
    }

    h1 {
        font-size: 24px;
    }

    .script-create-section {
        padding: 15px;
    }

    input[type="text"], textarea {
        font-size: 14px;
    }

    button {
        font-size: 14px;
    }
}

@media (max-width: 480px) {
    header {
        padding: 8px;
    }

    nav a {
        padding: 6px 10px;
        font-size: 12px;
    }

    h1 {
        font-size: 20px;
    }

    .script-create-section {
        padding: 10px;
    }

    input[type="text"], textarea {
        font-size: 12px;
    }

    button {
        font-size: 12px;
    }
}
